# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Google AdSense
NEXT_PUBLIC_ADSENSE_CLIENT_ID=

# Analytics (나중에 사용할 수 있음)
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=

# API Keys (나중에 사용할 수 있음)
NEXT_PUBLIC_API_URL=

# PayPal
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_ENVIRONMENT=sandbox # sandbox or live
PAYPAL_PRODUCT_ID=your_paypal_product_id
PAYPAL_WEBHOOK_ID=your_paypal_webhook_id
PAYPAL_WEBHOOK_SECRET=your_paypal_webhook_secret
