# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Google AdSense
NEXT_PUBLIC_ADSENSE_CLIENT_ID=

# Analytics (나중에 사용할 수 있음)
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=

# API Keys (나중에 사용할 수 있음)
NEXT_PUBLIC_API_URL=
